{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="card shadow-sm">
    <div class="card-header bg-danger text-white">
      <h2 class="mb-0 text-start">Confirm Deletion</h2>
    </div>
    <div class="card-body text-start">
      <p>Are you sure you want to delete <strong>{{ lesson.title }}</strong>?</p>
      <p class="text-muted">This action cannot be undone.</p>

    <div class="d-flex justify-content-between mt-4">
        <form method="post">
            {% csrf_token %}
            <div class="btn-group">
                <button type="submit">Delete</button>
            </div>
        </form>
            <button onclick="history.back()" class="btn btn-outline-secondary">Cancle</button>
    </div>
    </div>
  </div>
</div>

      {% endblock content %}