<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">

      <h2 class="text-center mb-4">Course List</h2>

      <table class="table table-bordered table-hover text-center">
        <thead class="table-dark">
            <tr>
              <th>course ID</th>
              <th>Name</th>
              <th>price</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for course in courses %}
            <tr>
              <td>{{ course.id }}</td>
              <td>{{ course.title }}</td>
              <td>{{ course.price }}</td>
              <td>
                <a href="{% url 'course_edit' course.pk %}" class="btn btn-sm btn-warning me-2">Edit</a> 
                <a href="{% url 'course_delete' course.pk %}" class="btn btn-sm btn-danger">Delete</a>
              </td>
            </tr>
            {% empty %}
            <tr><td colspan="4">No courses found.</td></tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="text-center mt-4">
          <a href="{% url 'course_add' %}" class="btn btn-success">Add New course</a>
        </div>
      </div>

    </div>
  </div>
</div>
