<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">

      <h2 class="text-center mb-4">assignment List</h2>

      <table class="table table-bordered table-hover text-center">
        <thead class="table-dark">
            <tr>
              <th>assigment ID</th>
              <th>Name</th>
              <th>due Date</th>
              <th>in Course</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for assignment in assignments %}
            <tr>
              <td>{{ assignment.id }}</td>
              <td>{{ assignment.title }}</td>
              <td>{{ assignment.due_date }}</td>
              <td>{{ assignment.course.title }}</td>
              <td>
                <a href="{% url 'assignment_edit' assignment.pk %}" class="btn btn-sm btn-warning me-2">Edit</a> 
                <a href="{% url 'assignment_delete' assignment.pk %}" class="btn btn-sm btn-danger">Delete</a>
              </td>
            </tr>
            {% empty %}
            <tr><td colspan="4">No assigments found.</td></tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="text-center mt-4">
          <a href="{% url 'assignment_add' %}" class="btn btn-success">Add New assigment</a>
        </div>
      </div>
    </div>
  </div>
</div>
